#form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#form-container label {
  cursor: pointer;
  color: blue;
}

#form-container label:first-of-type{
  margin-right:100px;
}
